@CHARSET "ISO-8859-1";

body{
	margin:0;
	padding:0;
}

div h1{
	font-family:Arial,Helvetica,sans-serif;
	font-size:48px;
}

div h6{
	font-style:italic;	
}

div h5{
	color:white;
}
div ul li a{
	color:grey;
	font-size:18px;
}

div ul li a:hover{
	font-style:bold;
}

#contact{
	height:500px;
}

#getjob{
	height:300px;
}

.largeImage img{
	display: block;
	margin:0 auto;
}